/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*background: rgba(255,0,0,0.8); */
    background: #f4511e;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    /*background: rgba(255,0,0,0.4); */
    background: #f4511e;
}

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      color: black;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}


.navbar {
    font-family: Montserrat, sans-serif;
}

/*Styling the Navbar*/
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
    border: none;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*Finished styling the Navbar*/

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 460px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 500px;
}

/*centers the logo colymn on small screens*/
@media screen and (max-width: 786px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/*Makes containers look nice*/
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
}

.thumbnail .movingPic {
    width: 600px;
    height: 400px;
}

/*Styling the carousel*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
/*Finished carousel styling*/

/*Style the panels*/
.panel {
    border: 1px solid #f4511e; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
/*Finished panel styling*/

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.eventlisttable td {
    text-align: left;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}
@-webkit-keyframes slide {
0% {
  opacity: 0;
  -webkit-transform: translateY(70%);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0%);
}
}

/*Calendar CSS*/

.table-responsive {
    background: rgb(240, 240, 240);
    border: rgb(220, 220, 220) solid 1px;
    margin-top: 21px;
}

ul.pager {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0px;
    background: white;
    padding: 10px;
    border-top: solid #f4511e 5px;
    border-bottom: rgb(220, 220, 220) solid 2px;
}

table#calendar {
    border-collapse: collapse;
    margin-bottom: 18px;
}

table#calendar th {
    text-align: center;
    border: none;
    color: #f4511e;
    width: 14.3%;
}

table#calendar td {
    background: white;
    color: black;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    border: rgb(220, 220, 220) solid 1px;
    width: 14.3%;
}

table#calendar td.single:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

table#calendar td.double:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

table#calendar td.single.selected {
    border-top: solid #f4511e 2px;
    background: rgb(230, 230, 230);
}

table#calendar td.double.selected {
    border-top: solid #f4511e 2px;
    background: rgb(230, 230, 230);
}


table#calendar td.empty {
    color: black;
    background: rgb(230, 230, 230);
}

table#calendar td.hasEvent {
    color: #f4511e;
    font-weight: bold;
}

table#calendar td.today {
    background: #f4511e;
    color: white;
    border-right: #f4511e solid 1px;
}

table#calendar td.today:hover {
    background: #f4511e;
    color: white;
    cursor: pointer;
}

table#calendar td.today.selected {
    background: #f4511e;
    color: white;
    border-top: black solid 2px;
    border-right: #f4511e solid 1px;
}

/*End of Calendar CSS*/

/*Left and Right Sidenavs (Calendar Page)*/
.leftSidenav, .rightSidenav {
    border: rgb(220,220,220) solid 1px; 
}

/*End of Sidenav styling*/


/*EVENT PAGE CSS*/
/*main container css*/
div#events {
    margin-top: -50px;
}

div.EventsListDiv {
    height: 450px;
    overflow-y: auto;
    margin-top: 5px;
}

.event {
    padding: 20px;
    padding-top: 0px;
    border-top: rgb(220, 220, 220) solid 1px;
    border-bottom: rgb(220, 220, 220) solid 1px;
}

#count {
    font-size: 110%; 
    color:#f4511e;
    position: relative;
    left: 25px;
}

.event:hover {
    cursor: pointer;
}

h3 a, a:hover, a:active {
    color: #f4511e;
}

span.loc {
    color: #f4511e;
}

b.middot {
    font-size: 150%;
}

/* events page modal */
#EventInfoModal {
    margin-top: 50px;
}

.details {
    border: rgb(230,230,230) solid 1px;
    background: rgb(245,245,245);
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*Clubs and Organizations page styling
.modal-dialog {
    border: solid #f4511e 1px;
    border-radius: 6px;
    margin: 100px auto;
}

